@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 color: #fff
}

body{
  background-color: black;
}

#tasklist::-webkit-scrollbar{
  background-color: transparent;
  height: 5px;
}

div{
  color: white;
}